.review-head{
    background-color: rgba(255, 255, 255, 0.6);
    //background-image: url(../../images/yani-review.jpg);
    background-blend-mode:lighten;
    padding: 0 30%;
    >h5{
        padding: 0 0%;
    }
}