.edit-form{
    padding-top: 100px;
    
    >.MuiTypography-h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    >.MuiTypography-h6 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}