.mdWrap{
    padding: 120px 0 120px 0;
    width: 100vw;
    background-size: cover;
    background-image: url(../images/yani-list.jpg);
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode:lighten;

    > h1 {
        margin: 0px 70px 0px 70px;
        font-size: 85px;
        text-align: center;
        background-color: rgba(255, 136, 0, 0.5);
        color:rgba(255, 38, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > h2 {
        color:rgba(255, 38, 0, 0.5);
        margin: 25px 50px 25px 50px;
        display: inline-block;
    }

    >p{
        margin-left: 50px;
        font-size: 20px;
    }

    > ul {
        margin-left: 50px;
    }
}