.mdWrap{
    padding: 60px 0 100px 0;
    width: 100%;
    margin-left: 50px;
    background-size: cover;

    > h1 {
        font-size: 85px;
        display: inline-block;
        padding: 0 20px;
        text-align: center;
        background-color: rgba(255, 136, 0, 0.5);
        color:rgba(255, 38, 0, 0.5)
    }

    > h2 {
        color:rgba(255, 38, 0, 0.5)
    }

    >p{
        margin-left: 30px;
        font-size: 20px;
    }
}